{
  // The addresses on which the lightning node will listen for incoming connections.
  "listening_address": "localhost:3001",

  // The Bitcoin network to use.
  "network": "regtest",

  // The address on which LDK Server will accept incoming requests.
  "rest_service_address": "127.0.0.1:3002",

  // The path where the underlying LDK and BDK persist their data.
  "storage_dir_path": "/tmp/ldk-server/",

  // Bitcoin Core's RPC endpoint.
  "bitcoind_rpc_address": "127.0.0.1:18444",

  // Bitcoin Core's RPC user.
  "bitcoind_rpc_user": "polaruser",

  // Bitcoin Core's RPC password.
  "bitcoind_rpc_password": "polarpass"
}
